h1 {
    display: inline-block;
    min-width: 55%;
    color: #DCA22D;
}

h3 {
    text-align: center;
}

span.header_location {
    color: #fff;
}

button { 
    width: 12%;
    display: inline;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.infoWrap {
    background-color: #fff;
    border-radius: 5px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.infoWrap .infoLeft, .infoWrap .infoRight {
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    vertical-align: top;
    height: 100%;
    width: 30%;
}

.infoWrap p span, .infoWrap label {
    font-weight: bold;
    color: #555;
}

.infoWrap .infoLeft {
    padding-left:2%
}

.saveEditDiv {
    padding-bottom: 1em;
}

#saveButton, #cancelButton {
    margin: 0 1em;
}

.hideWrap {
    display: none;
}

label {
    display:block;
}