h2 {
    text-align: center;
}

.addBeerWrap {
    width: 80%;
    margin: auto;
    text-align: center;
}

.fieldsLeft, .fieldsRight {
    width: 45%;
    display: inline-block;
    
}

.fieldsLeft input, .fieldsRight input {
    width: 45%;
    margin: 1em;
    border-radius: 4px;
}

select {
    font-size: 1em;
    margin-top: 2em;
}

button {
    width: 12%;
    font-size: 1em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}