html {
    background-color: #000;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
    width: 80%;
    margin: auto;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}